# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Backend
python_backend/__pycache__/
python_backend/venv/
python_backend/*.pkl
python_backend/*.pt
python_backend/*.dll
python_backend/*.so
python_backend/*.h5
python_backend/*.joblib

# Node / Frontend
node_modules/
.next/
dist/
build/
out/
.vercel/
.vscode/

# Environment / Config
.env
.env.local
*.log

# Misc
.DS_Store
*.zip
*.tar
*.gz
